.teamMembersTitle {
    text-align: start;
}

.site-badge-count-4 .ant-badge-count {
    background-color: #fff;
    color: #999;
    box-shadow: 0 0 0 1px #d9d9d9 inset;
}
.teamMembersCard {
    font-size: 14px;
    padding: 24px !important;
    text-align: left;
}