.events {
    list-style: none;
    margin: 0;
    padding: 0;
}

.events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
}

.notes-month {
    text-align: center;
    font-size: 28px;
}

.notes-month section {
    font-size: 28px;
}

.myCalendarTitle {
    text-align: start;
}

.events-cell-wrapper {
    height: 100%;
}

.floating-plus-button {
    position: fixed;
    right: 64px;
    bottom: 32px;
    z-index: 2147483640;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
}

.add-learning-day-button {
    background-color: rgb(0, 21, 41) !important;
    color: rgba(255, 255, 255, 1) !important;
}

.ant-picker-calendar-header .ant-picker-calendar-mode-switch {
    display: none !important;
}

.learned-button {
    margin-left: 6px;
}

.ant-picker-calendar-header {
    padding-right: 24px !important;
}