.newTopicTitle {
    text-align: start;
}
.newTopicSubtitle {
    text-align: start;
    font-size: 20px;
}
.newTopicCard *{
    align-items: start ;
}
#subtopic-item-container {
    display: flex;
    justify-content: space-between;
}